<header class="container mx-auto p-4 space-x-6 bg-blue-100">
    <a routerLink="/home" routerLinkActive="bg-blue-200" class="inline-block p-1 transition-colors hover:bg-blue-200 rounded-md">Home</a>
    <a routerLink="/devexperience" routerLinkActive="bg-blue-200" class="inline-block p-1 transition-colors hover:bg-blue-200 rounded-md">Improving Dev Experience</a>
    <a routerLink="/signals" routerLinkActive="bg-blue-200" class="inline-block p-1 transition-colors hover:bg-blue-200 rounded-md">Signals</a>
</header>
<div class="container mx-auto px-4 mt-8">
    <router-outlet></router-outlet>
</div>
